:root {
    --primary-color: #fefefe;
    --complimentary-color: #101010;   /* These get updated in js */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--primary-color);
    font-family: 'arial', sans-serif;
    color: var(--complimentary-color);
    display:flex;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    flex-wrap: wrap;    
}

.info-container {
    width: 50%;
    min-width: 400px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#links {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: bolder;
}
